web/var/cache/**/*
web/var/mincache/*
web/var/session/**/*
web/var/session/*
web/var/log/*
web/var/locks/*
web/var/report/*
web/var/debug/*
web/media/catalog/product/cache/**/*
web/media/js/*
web/media/css/*.css
web/errors/local.xml
web/app/etc/local.xml
web/var/zoom/*
web/app/code/core/Mage/Core/Model/Session/Abstract/Varien.php
