<?xml version="1.0"?>

<!-- 
/**
 * @category   GetSomeMojo
 * @package    GetSomeMojo_Pinterestdmojo
 * @copyright  Copyright (c) 2012 Mitch Robles, Jr. (http://www.GetSomeMojo.net)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @author     Mitch Robles, Jr. <info@GetSomeMojo.net>
 */
 -->

<config>
    <tabs>
        <getsomemojo translate="label" module="pinterestmojo">
            <label>Get Some Mojo Extensions</label>
            <sort_order>210</sort_order>
        </getsomemojo>
    </tabs>
    <sections>
        <pinterestmojosection translate="label" module="pinterestmojo">
            <class>separator-top</class>
            <label>Pinterest Mojo</label>
            <tab>getsomemojo</tab>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<pinterestmojosettings translate="label">
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
					<comment>
						<![CDATA[    
                            <p><b>The Pinterest Mojo Extension was Developed by <a href="http://mojomage.getsomemojo.net" target="_blank" title="Get Some Mojo!">Mojo Creative &amp; Technical Solutions</a>.<br /><br />HELP: <a href="mailto:info@getsomemojo.net" title="Contact Mitch Robles, Jr.">info@GetSomeMojo.net</a></b><br /><br/></p>
                                                        
                    	]]>
                    </comment>
                    <fields>
						<activate translate="label">
                            <label>Enable Extension</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </activate>
						<pincount translate="label">
							<label>Pin Count</label>
							<frontend_type>select</frontend_type>
							<sort_order>10</sort_order>
							<default>1</default>
							<show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<backend_model>pinterestmojo/PinCount</backend_model>
                            <source_model>pinterestmojo/PinCount</source_model>
						</pincount>
						<pinalign translate="label">
                            <label>Align Pin to Right Side</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pinalign>
						<pinstyle translate="label">
                            <label>Custom CSS Styles</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: margin: 10px 0 10px;</comment>
							<tooltip>
								<![CDATA[
								<div style="border: 1px solid #F00; vertical-align: middle; padding: 20px; width:300px">
									<p>Add custom inline css to the DIV layer wrapped around the Pin It button.</p>
								</div>
								
								]]>
							</tooltip>
                        </pinstyle>
						<pinwidth translate="label">
                            <label>Pin It Image Width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: 800px</comment>
							<tooltip>
								<![CDATA[
								<div style="border: 1px solid #F00; vertical-align: middle; padding: 20px; width:300px">
									<p>The original base image width will override this setting if your base image dimensions are smaller than the default size (800px) or your custom size.</p>
								</div>
								
								]]>
							</tooltip>
                        </pinwidth>
						<pinprice translate="label">
                            <label>Show Product Price in Description</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
							<comment>Default: Yes</comment>
                        </pinprice>
                    </fields>
                </pinterestmojosettings>
            </groups>
        </pinterestmojosection>
    </sections>
</config>