/******* Top Level 0 *******/
/*top menu bar*/
ul#pronav {
    font-size: 11px;
	font: arial;
	font-weight: regular;
    list-style: none outside none;
    margin: 17px 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    width: 630px;   
	float: right;
    z-index: 9999;
  
   
}


/*top menu bar separators*/
ul#pronav li {
    
    float: left;

}


ul#pronav li.primary {
    width: 150px;
	font-size: 13px;
    float: left;
	color: #0b0b0b;
	text-transform: uppercase;
	
	
}

ul#pronav li#features {
	padding-right: 110px;
	}
/*removes separator from 1st element*/
ul#pronav li#Furniture {
    background: none repeat scroll 0 0 transparent;
   
	
}
ul#pronav li#last {
  padding-right: 5px;
   
	
}
ul#pronav li.secondary {
    border-top: 4px solid transparent;
	width: 78px;
	height: 52px;
	font-size: 12px;
    float: left;
	text-align: left;
}
ul#pronav li.secondary:hover{border-top: 4px solid #ec853d;  
    box-shadow: 0px 0px 2px 0px rgb(213, 213, 213);
	background: -moz-linear-gradient(center top , #fff, #f5f6f7);
	background-image: -webkit-linear-gradient(top, #fff, #f5f6f7);
	background: -moz-linear-gradient(center top , #fff, #f5f6f7);
	-webkit-box-shadow:0 0 2px 0 #D5D5D5;
	background: -o-linear-gradient(top, #fff 0px, #f5f6f7 100%) transparent;
	background-color: #fcfcfc;
}
 
ul#pronav li a:hover
{color: #ec853d;}


/*top menu category properties*/
ul#pronav li a {
    
    color: #202022;
    float: left;
    font-weight: normal;
    height: 35px;
    overflow: hidden;
    padding: 7px 13px 0 8px;
    position: relative;
    text-align: left;
    text-decoration: none;
   
    vertical-align: middle;
    z-index: 9999;
}

ul#pronav li .secondary a {
    
    color: #202022;
    float: left;
    font-weight: normal;
    height: 40px;
    overflow: hidden;
    padding: 7px 13px 0 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    vertical-align: middle;
    z-index: 999999;
}

ul#pronav li.primary a{
    text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	

}


/*removes padding on left from 1st element*/
ul#pronav li#Furniture a {
    padding: 7px 13px 0 15px;
}


/*removes navigation pin from last element*/
/*ul#pronav li a#gifts:hover, ul#pronav li:hover a#gifts {
    background: none repeat scroll 0 0 transparent;
   
}*/

ul#pronav li a span {
    display: block;
}

ul#pronav li a span img {
    vertical-align: middle;
}
/*sets hover pin and colour change to tp menu*/
ul#pronav li:hover a, ul#pronav li a:hover {
   
    text-decoration: none;
}
/*adds pin */
ul#pronav li:hover a {

    
}
ul#pronav li:hover ul li a {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-weight: normal;
    text-decoration: none;
}
/*ul#pronav a.dashboard {
}
ul#pronav a.acl {
}
ul#pronav a.users {
}*/


/******* Top Level Drop Down *******/
ul#pronav li .sub {
    background: none repeat scroll 0 0 #fff;
    border-top: none;
    border-left: 8px solid #f5f6f7;
    border-right: 8px solid #f5f6f7;
    border-bottom: 8px solid #f5f6f7;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
    display: none;
    float: left;
    left: 0;
    max-width: 950px!important; 
	width: 950px!important;
    padding: 10px;
    position: absolute;
    top: 98px;
	left: -356px;
  
    z-index: 999;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
	
	background-image: -webkit-linear-gradient(top, #fcfcfc, #eef0f1);
    -webkit-box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
	background-clip: padding-box;
	background: -moz-linear-gradient(center top , #fcfcfc, #eef0f1);
	background-color: #fcfcfc;
}

ul#pronav li#collections .sub {
	width: 295px!important;
	position: absolute;
	top: 40px;
	left: 0px;
	z-index: 99999;
}

ul#pronav li#brands .sub {
	width: 295px!important;
	position: absolute;
	top: 40px;
	left: 150px;
	z-index: 99999;
}

ul#pronav li#features .sub {
	width: 295px!important;
	position: absolute;
	top: 40px;
	left: 300px;
	z-index: 99999;
}

ul#pronav li#gifts .sub {
	width: 295px!important;
	position: absolute;
	top: 40px;
	left: 200px;
	z-index: 99999;
}


ul#pronav li .row {
    clear: both;
    margin-bottom: 10px;
    width: 100%;
}
ul#pronav li .sub ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 224px;
    height: 300px;
   
}

ul#pronav li.primary ul {
    width: 290px!important;
	height: 358px;
  }

/******* Optional Assets *******/
.clear {
    clear: both;
    height: 1px;
    overflow: hidden;
    text-indent: 100px;
    width: 1px;
}
ul#pronav .sub ul li {
    background: none repeat scroll 0 0 transparent;
    color: #000000;
    font-size: 12px;
    padding: 0;
    width: 100%;
}

ul#pronav .sub ul li.first a {
	font-weight:bold;
	font-size:12px;
    text-transform: uppercase;
    padding: 10px 0 5px 0;
    
}
ul#pronav .sub ul li h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
ul#pronav .sub ul li h2 a {
    background-image: none;
    color: #000000;
    padding: 5px 0;
}
ul#pronav .sub ul li a/*, ul#pronav li:hover .sub ul.brand-list li a */{
    background: none repeat scroll 0 0 transparent;
    color: #232323;
    display: block;
    float: none;
    font-size: 11px;
    font-weight: normal;
    height: auto;
    padding: 2px 0 2px 15px;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-transform: capitalize;
}

ul#pronav li.primary ul li a
{   padding: 5px 0 5px 15px;}
}*/
ul#pronav li:hover .sub ul.brand-list li a {
    padding: 6px 0 6px 30px;
}
ul#pronav .sub ul li a:hover, ul#pronav li:hover .sub ul.brand-list li a:hover {
    color: #000;
}
ul#pronav .sub ul li.last a, ul#pronav li:hover .sub ul.brand-list li.last a {
    border-bottom: 0 none;
}

ul#pronav .sub ul li a:hover {

    text-align: left;
    text-decoration: none;
    background: #ec853d;
	color: #fff;
    
 }

 ul#pronav .sub ul li.first a:hover {
    background: none;
	color: #232323;
 }
 
 

ul#pronav .sub ul.lrg-nav-ad { /*reference in admin/static blocks*/
    float: left;
    width: 301px;
    height:300px;
    margin-right: 10px;
    
    
}
ul#pronav .sub ul.sml-nav-ad { /*reference in admin/static blocks*/
    float: left;
    width: 190px;
    
    
}
/*margin between sml-nav-ads*/
ul#pronav .sub ul.sml-nav-ad img {
    margin-bottom: 10px;
}